<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="edu.mit.lib.rest.entities.Book" alias="Book"/>
    </typeAliases>
    <mappers>
        <mapper resource="configs/mappers/book.xml"/>
    </mappers>
</configuration>